share/ss.json

[
    {
        "id": "13efe0fc.899dcf",
        "type": "tab",
        "label": "Security Automations",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4c5a8f12.de793",
        "type": "server-state-changed",
        "z": "13efe0fc.899dcf",
        "name": "Alarm Control Panel",
        "server": "3a8968da.c5f148",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "alarm_control_panel.alarmo",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": false,
        "for": "",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "x": 1010,
        "y": 1260,
        "wires": [
            [
                "214ab6fe.dea2fa"
            ]
        ],
        "icon": "font-awesome/fa-warning"
    },
    {
        "id": "214ab6fe.dea2fa",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "Alarrn Panel Transfer Switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "armed_home",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "armed_away",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "armed_night",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "disarmed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "triggered",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 1240,
        "y": 1280,
        "wires": [
            [
                "da839d6f.4ca06"
            ],
            [
                "4477ee8c.f3c16"
            ],
            [
                "40ae2bd2.e67dd4"
            ],
            [
                "26dcc044.e332"
            ],
            [
                "edca0790.6e3d18"
            ]
        ]
    },
    {
        "id": "da839d6f.4ca06",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Armed Home",
        "links": [
            "c2eb5b09.8e1608",
            "fe43ed94.4e1f7",
            "f57f2dee.ff8a5",
            "1569c20d.fd8a1e"
        ],
        "x": 1415,
        "y": 1200,
        "wires": []
    },
    {
        "id": "799fd105.336eb",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Back door",
        "links": [
            "5558c525.d85efc",
            "82fdf876.b88498"
        ],
        "x": 1335,
        "y": 600,
        "wires": []
    },
    {
        "id": "8bf1e918.d3cb28",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Deck Door",
        "links": [
            "82fdf876.b88498",
            "afda8c20.4a8f1"
        ],
        "x": 1335,
        "y": 640,
        "wires": []
    },
    {
        "id": "78fe9955.70a7e8",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Shop Door",
        "links": [
            "82fdf876.b88498",
            "8f335eeb.d3a21"
        ],
        "x": 1335,
        "y": 680,
        "wires": []
    },
    {
        "id": "ca45e272.cb916",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "GE Door",
        "links": [
            "82fdf876.b88498",
            "ddda9ffa.88e01"
        ],
        "x": 1335,
        "y": 720,
        "wires": []
    },
    {
        "id": "efa1f4ba.460be8",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Garage Door",
        "links": [
            "2595d8ef.d2cb98",
            "82fdf876.b88498"
        ],
        "x": 1335,
        "y": 760,
        "wires": []
    },
    {
        "id": "edca0790.6e3d18",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Triggered",
        "links": [
            "8a014c6c.faad2",
            "a50f5ccf.5fb6b",
            "e8ebfa9e.7dba18",
            "7f67cc1c.7622d4",
            "78f2a1cb.4f03f",
            "42de7050.fb1a1"
        ],
        "x": 1415,
        "y": 1360,
        "wires": []
    },
    {
        "id": "4477ee8c.f3c16",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Armed Away",
        "links": [
            "35e8d802.4524c8",
            "7f3c0f07.340e7",
            "819e6d59.0a85b",
            "3e61c5d9.4071ca",
            "fe43ed94.4e1f7",
            "c2eb5b09.8e1608",
            "f57f2dee.ff8a5"
        ],
        "x": 1415,
        "y": 1240,
        "wires": []
    },
    {
        "id": "40ae2bd2.e67dd4",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Armed Night",
        "links": [
            "ea5dec3f.b8db",
            "35e8d802.4524c8",
            "3e61c5d9.4071ca",
            "c2eb5b09.8e1608"
        ],
        "x": 1415,
        "y": 1280,
        "wires": []
    },
    {
        "id": "26dcc044.e332",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Disarned",
        "links": [
            "1569c20d.fd8a1e",
            "2466d5e7.d1d0ca",
            "7f3c0f07.340e7",
            "c2eb5b09.8e1608",
            "ea5dec3f.b8db",
            "f7905827.12e5d8",
            "78ac06c4.ed4ff8"
        ],
        "x": 1415,
        "y": 1320,
        "wires": []
    },
    {
        "id": "5c2ff875.5e11a8",
        "type": "api-call-service",
        "z": "13efe0fc.899dcf",
        "name": "Siren on!",
        "server": "3a8968da.c5f148",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.nodeid_18_switch",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": true,
        "x": 1720,
        "y": 1240,
        "wires": [
            [
                "ba71440d.597b08",
                "721e00f2.86219"
            ]
        ]
    },
    {
        "id": "4fcf4a6b.28cf14",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Intruder",
        "links": [
            "82fdf876.b88498",
            "e0eea9a6.68ff98"
        ],
        "x": 1235,
        "y": 380,
        "wires": []
    },
    {
        "id": "1569c20d.fd8a1e",
        "type": "link in",
        "z": "13efe0fc.899dcf",
        "name": "Arming Home",
        "links": [
            "26dcc044.e332",
            "da839d6f.4ca06"
        ],
        "x": 735,
        "y": 620,
        "wires": [
            [
                "ac89a7ec.b17c08"
            ]
        ]
    },
    {
        "id": "ac89a7ec.b17c08",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "Armed?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "armed_home",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "disarmed",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 840,
        "y": 620,
        "wires": [
            [
                "9469fbd1.7e65f8",
                "c362a617.399f58",
                "233958e9.4123d8",
                "be877cbd.fb5d4",
                "d387309c.9f2d4",
                "a33f519c.db16c",
                "d6d0df4c.fa3b9",
                "48c5067b.0c9fc8",
                "91d492f.08a0b7",
                "fcd4057a.1c0178",
                "f17f2009.7aade",
                "b44cdd74.1bb0f",
                "891f9f98.cf61",
                "a4858934.092518",
                "e12d7799.8dc228",
                "813e8189.ab7d1",
                "57f7ec82.a731e4",
                "cf13c08a.d659c",
                "c11e2d5b.228ba",
                "4b5f1e08.5f8ab",
                "cf244982.842278",
                "c7001d8e.a8293"
            ],
            [
                "9469fbd1.7e65f8",
                "c362a617.399f58",
                "233958e9.4123d8",
                "be877cbd.fb5d4",
                "d387309c.9f2d4",
                "a33f519c.db16c",
                "d6d0df4c.fa3b9",
                "48c5067b.0c9fc8",
                "91d492f.08a0b7",
                "fcd4057a.1c0178",
                "f17f2009.7aade",
                "b44cdd74.1bb0f",
                "891f9f98.cf61",
                "a4858934.092518",
                "e12d7799.8dc228",
                "813e8189.ab7d1",
                "cf13c08a.d659c",
                "c11e2d5b.228ba",
                "4b5f1e08.5f8ab",
                "cf244982.842278",
                "c7001d8e.a8293"
            ]
        ]
    },
    {
        "id": "82fdf876.b88498",
        "type": "link in",
        "z": "13efe0fc.899dcf",
        "name": "Trigger",
        "links": [
            "8bf1e918.d3cb28",
            "799fd105.336eb",
            "ca45e272.cb916",
            "efa1f4ba.460be8",
            "78fe9955.70a7e8",
            "b1782e8a.9f9a",
            "7f9568c8.a2f678",
            "5513726a.ac552c",
            "d8722618.e70dc8",
            "c6792096.69eba",
            "55938e97.db7ac",
            "f025b3a.c27755",
            "dac13100.c6d29",
            "e42e6863.f6a2a8",
            "ba84468f.640238",
            "6c1ad00d.c932c",
            "30adf7cd.356638",
            "5ea5fe04.c7492",
            "597bca6f.8e6d94",
            "1cc74ffd.8bc79",
            "5c8d729f.70c08c",
            "4fcf4a6b.28cf14",
            "f2c9391.1eaf9c8",
            "689e7d35.f06f64",
            "12f19159.5b5b6f",
            "dc21e331.917e5",
            "5c4475d2.9b1efc",
            "c0bf4881.f47d38",
            "dc747281.418ec",
            "b4427151.5e479",
            "12244d3.27c41b3",
            "12c41d50.3620d3",
            "9590836.7557a8",
            "ff07e29.cadcb2",
            "7dd5d6f7.7b7198",
            "16515ac9.d344d5",
            "535f4472.649bcc",
            "c27a893.4701c78",
            "71dcc85d.d63938",
            "ebad132c.c0ecf",
            "e812aee4.de5e7",
            "87979708.c8bea8",
            "3f13aca1.ee31a4",
            "d40e22d9.407c5",
            "963828fa.b56e48",
            "f9ecbf77.bb3c1",
            "270a6692.96832a",
            "3a974fc9.a95b5",
            "cea657a6.a83a18",
            "a89270b9.9d938",
            "f80c333c.7841f"
        ],
        "x": 1095,
        "y": 1580,
        "wires": [
            [
                "312b35ff.57e00a"
            ]
        ]
    },
    {
        "id": "3e051421.a4b42c",
        "type": "api-call-service",
        "z": "13efe0fc.899dcf",
        "name": "Siren off",
        "server": "3a8968da.c5f148",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.nodeid_18_switch",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": true,
        "x": 1720,
        "y": 1280,
        "wires": [
            [
                "721e00f2.86219"
            ]
        ]
    },
    {
        "id": "ba71440d.597b08",
        "type": "trigger",
        "z": "13efe0fc.899dcf",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2100,
        "y": 1240,
        "wires": [
            [
                "721e00f2.86219"
            ]
        ]
    },
    {
        "id": "b0935e6a.1e054",
        "type": "api-call-service",
        "z": "13efe0fc.899dcf",
        "name": "Front Porch",
        "server": "3a8968da.c5f148",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "toggle",
        "entityId": "switch.in_wall_toggle_switch_current_value_5",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 2050,
        "y": 1280,
        "wires": [
            [
                "ba71440d.597b08"
            ]
        ]
    },
    {
        "id": "721e00f2.86219",
        "type": "traffic",
        "z": "13efe0fc.899dcf",
        "name": "",
        "property_allow": "payload",
        "filter_allow": "triggered",
        "ignore_case_allow": false,
        "negate_allow": false,
        "send_allow": false,
        "property_stop": "payload",
        "filter_stop": "disarmed",
        "ignore_case_stop": false,
        "negate_stop": false,
        "send_stop": false,
        "default_start": false,
        "differ": false,
        "x": 1890,
        "y": 1280,
        "wires": [
            [
                "b0935e6a.1e054"
            ]
        ]
    },
    {
        "id": "a50f5ccf.5fb6b",
        "type": "link in",
        "z": "13efe0fc.899dcf",
        "name": "Siren on",
        "links": [
            "edca0790.6e3d18"
        ],
        "x": 1575,
        "y": 1440,
        "wires": [
            [
                "527d070b.85e418",
                "342924d.9663cdc",
                "40afd56b.4d496c",
                "5c2ff875.5e11a8",
                "b307f113.1bd62"
            ]
        ]
    },
    {
        "id": "527d070b.85e418",
        "type": "api-call-service",
        "z": "13efe0fc.899dcf",
        "name": "Siren on!",
        "server": "3a8968da.c5f148",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.nodeid_19_switch",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": true,
        "x": 1720,
        "y": 1440,
        "wires": [
            [
                "75e74905.b4eb88"
            ]
        ]
    },
    {
        "id": "75e74905.b4eb88",
        "type": "api-call-service",
        "z": "13efe0fc.899dcf",
        "name": "Back Yard",
        "server": "3a8968da.c5f148",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.in_wall_toggle_switch_current_value_7",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1880,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "50e91aef.95a544",
        "type": "api-call-service",
        "z": "13efe0fc.899dcf",
        "name": "Siren off",
        "server": "3a8968da.c5f148",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.nodeid_19_switch",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": true,
        "x": 1720,
        "y": 1480,
        "wires": [
            [
                "20951aa2.667786"
            ]
        ]
    },
    {
        "id": "342924d.9663cdc",
        "type": "api-call-service",
        "z": "13efe0fc.899dcf",
        "name": "Siren on!",
        "server": "3a8968da.c5f148",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.nodeid_20_switch",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": true,
        "x": 1720,
        "y": 1540,
        "wires": [
            [
                "21bd7ae5.0bf9a6"
            ]
        ]
    },
    {
        "id": "21bd7ae5.0bf9a6",
        "type": "api-call-service",
        "z": "13efe0fc.899dcf",
        "name": "Back Yard",
        "server": "3a8968da.c5f148",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.in_wall_toggle_switch_current_value_6",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1880,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "d45429ed.834c38",
        "type": "api-call-service",
        "z": "13efe0fc.899dcf",
        "name": "Siren off",
        "server": "3a8968da.c5f148",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.nodeid_20_switch",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": true,
        "x": 1720,
        "y": 1580,
        "wires": [
            [
                "5c75b8e9.d5c4d8"
            ]
        ]
    },
    {
        "id": "40afd56b.4d496c",
        "type": "api-call-service",
        "z": "13efe0fc.899dcf",
        "name": "Siren on!",
        "server": "3a8968da.c5f148",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.nodeid_21_switch",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": true,
        "x": 1720,
        "y": 1340,
        "wires": [
            [
                "ba1e1a5e.113b48",
                "c0e6b659.e4efe8"
            ]
        ]
    },
    {
        "id": "ba1e1a5e.113b48",
        "type": "trigger",
        "z": "13efe0fc.899dcf",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 2100,
        "y": 1340,
        "wires": [
            [
                "c0e6b659.e4efe8"
            ]
        ]
    },
    {
        "id": "562a3159.e0dc",
        "type": "api-call-service",
        "z": "13efe0fc.899dcf",
        "name": "Breezeway",
        "server": "3a8968da.c5f148",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "toggle",
        "entityId": "switch.in_wall_toggle_switch_current_value_8",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 2050,
        "y": 1380,
        "wires": [
            [
                "ba1e1a5e.113b48"
            ]
        ]
    },
    {
        "id": "c0e6b659.e4efe8",
        "type": "traffic",
        "z": "13efe0fc.899dcf",
        "name": "",
        "property_allow": "payload",
        "filter_allow": "triggered",
        "ignore_case_allow": false,
        "negate_allow": false,
        "send_allow": false,
        "property_stop": "payload",
        "filter_stop": "disarmed",
        "ignore_case_stop": false,
        "negate_stop": false,
        "send_stop": false,
        "default_start": false,
        "differ": false,
        "x": 1890,
        "y": 1380,
        "wires": [
            [
                "562a3159.e0dc"
            ]
        ]
    },
    {
        "id": "24f3a765.59e2b8",
        "type": "api-call-service",
        "z": "13efe0fc.899dcf",
        "name": "Siren off",
        "server": "3a8968da.c5f148",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.nodeid_21_switch",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": true,
        "x": 1720,
        "y": 1380,
        "wires": [
            [
                "c0e6b659.e4efe8"
            ]
        ]
    },
    {
        "id": "f7905827.12e5d8",
        "type": "link in",
        "z": "13efe0fc.899dcf",
        "name": "Siren off",
        "links": [
            "26dcc044.e332"
        ],
        "x": 1575,
        "y": 1380,
        "wires": [
            [
                "24f3a765.59e2b8",
                "3e051421.a4b42c",
                "50e91aef.95a544",
                "d45429ed.834c38",
                "5f806232.27fe2c"
            ]
        ]
    },
    {
        "id": "c8333e36.d91eb",
        "type": "comment",
        "z": "13efe0fc.899dcf",
        "name": "-------------------- Armed Home --------------------------",
        "info": "",
        "x": 1140,
        "y": 60,
        "wires": []
    },
    {
        "id": "96f5b153.169b9",
        "type": "comment",
        "z": "13efe0fc.899dcf",
        "name": "--------------------- Triggered Devices -------------------",
        "info": "",
        "x": 1900,
        "y": 1200,
        "wires": []
    },
    {
        "id": "2a0d3eea.6d3052",
        "type": "comment",
        "z": "13efe0fc.899dcf",
        "name": "------------------------------------ Alarm Controls ----------------------------------------------",
        "info": "",
        "x": 1170,
        "y": 1140,
        "wires": []
    },
    {
        "id": "3b499310.273bec",
        "type": "comment",
        "z": "13efe0fc.899dcf",
        "name": "---------------------- Armed Away ----------------------------",
        "info": "",
        "x": 450,
        "y": 60,
        "wires": []
    },
    {
        "id": "cec599bf.33b448",
        "type": "comment",
        "z": "13efe0fc.899dcf",
        "name": "--------------------- Amred Night -----------------------",
        "info": "",
        "x": 1850,
        "y": 60,
        "wires": []
    },
    {
        "id": "ea5dec3f.b8db",
        "type": "link in",
        "z": "13efe0fc.899dcf",
        "name": "Arming Night",
        "links": [
            "40ae2bd2.e67dd4",
            "26dcc044.e332"
        ],
        "x": 1455,
        "y": 480,
        "wires": [
            [
                "9b464780.20fac8"
            ]
        ]
    },
    {
        "id": "9b464780.20fac8",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "Armed?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "armed_night",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "disarmed",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1560,
        "y": 480,
        "wires": [
            [
                "1a2ed6bd.49cca9",
                "a031613e.1c1cc",
                "2a1fd7b7.a84278",
                "41c33901.c7ca38",
                "eb5848a2.a3ec08",
                "ad24198e.446168",
                "a174249b.857068",
                "59d00aab.a69364",
                "1e0bcdce.4133a2",
                "5abd503b.72ac1",
                "5193d02a.f94b5",
                "270ec059.197cd",
                "6fdc5433.1321ac",
                "6c7e4649.ed6e58",
                "2d0f7e5e.2dcc52",
                "d0040523.1a36f8",
                "be0336db.700998"
            ],
            [
                "1a2ed6bd.49cca9",
                "a031613e.1c1cc",
                "2a1fd7b7.a84278",
                "41c33901.c7ca38",
                "eb5848a2.a3ec08",
                "ad24198e.446168",
                "a174249b.857068",
                "59d00aab.a69364",
                "1e0bcdce.4133a2",
                "5abd503b.72ac1",
                "5193d02a.f94b5",
                "270ec059.197cd",
                "6fdc5433.1321ac",
                "6c7e4649.ed6e58",
                "2d0f7e5e.2dcc52",
                "d0040523.1a36f8"
            ]
        ]
    },
    {
        "id": "ea79dd36.da23d",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Ed's Cell Phone",
        "links": [
            "6bd47e52.6c8df"
        ],
        "x": 1855,
        "y": 880,
        "wires": []
    },
    {
        "id": "788e8c13.e9cf64",
        "type": "vacation-timer",
        "z": "13efe0fc.899dcf",
        "name": "TV Morning ",
        "lat": "",
        "lon": "",
        "turnOffOnDaysOff": true,
        "midnightSchedule": true,
        "onTime": "07:00",
        "randMinutes": "30",
        "offTime": "10:30",
        "randOffMinutes": "15",
        "minOnHours": "0",
        "minOnMinutes": "5",
        "maxOnHours": "0",
        "maxOnMinutes": "10",
        "stopTab": "tab-2",
        "onPayloadType": "str",
        "onPayloadVal": "turn_on",
        "onTopicVal": "media_player.livingroom_tv",
        "offPayloadType": "str",
        "offPayloadVal": "turn_off",
        "offTopicVal": "media_player.livingroom_tv",
        "suspended": true,
        "disableMax": false,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "x": 490,
        "y": 1180,
        "wires": [
            [
                "63a6f9e3.401c48"
            ]
        ]
    },
    {
        "id": "63a6f9e3.401c48",
        "type": "api-call-service",
        "z": "13efe0fc.899dcf",
        "name": "Turn Switches on",
        "server": "6e38e28e.ec355c",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "{{payload}}",
        "entityId": "{{topic}}",
        "data": "{}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 690,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "b7f4375a.00aa08",
        "type": "change",
        "z": "13efe0fc.899dcf",
        "name": "stop",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1200,
        "wires": [
            [
                "788e8c13.e9cf64"
            ]
        ]
    },
    {
        "id": "4b91e340.3afd1c",
        "type": "change",
        "z": "13efe0fc.899dcf",
        "name": "start",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "start",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1160,
        "wires": [
            [
                "788e8c13.e9cf64"
            ]
        ]
    },
    {
        "id": "7f3c0f07.340e7",
        "type": "link in",
        "z": "13efe0fc.899dcf",
        "name": "Arming Away",
        "links": [
            "4477ee8c.f3c16",
            "26dcc044.e332"
        ],
        "x": 35,
        "y": 1100,
        "wires": [
            [
                "9cbe8950.8a3fb8"
            ]
        ]
    },
    {
        "id": "9cbe8950.8a3fb8",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "Armed?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "armed_away",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "disarmed",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 140,
        "y": 1100,
        "wires": [
            [
                "4b91e340.3afd1c",
                "72f57951.420e68",
                "7309e8b9.a71808",
                "5044b32d.3c51dc",
                "f3d6cd8a.44c8f",
                "731dcf9c.4ff1f",
                "cfb330bd.ffa37",
                "8bc5b570.52c608",
                "a129c706.60adf8",
                "bf9890c.5ec007",
                "8f1be0c1.b793a",
                "70c70b63.2a5204",
                "4e9107c9.33a7f8",
                "f31dba19.8f3ed8",
                "41214f86.b65d",
                "fd8bf09f.712c2",
                "8d43e064.44be4",
                "db24e757.fe7ae8",
                "6e9b7272.8a210c",
                "f9d74898.d737a8",
                "17e69d02.3df243",
                "6cb4bb05.9d7e44",
                "271554b9.6788bc",
                "e149ef55.ef007",
                "8463b5dd.32af98",
                "d5011490.c41d48",
                "4432fab5.575c24",
                "d97f2fa2.dd7fe",
                "de3bee9e.32543",
                "2c096c4f.3b1e64"
            ],
            [
                "a129c706.60adf8",
                "bf9890c.5ec007",
                "8f1be0c1.b793a",
                "70c70b63.2a5204",
                "4e9107c9.33a7f8",
                "f31dba19.8f3ed8",
                "41214f86.b65d",
                "fd8bf09f.712c2",
                "8d43e064.44be4",
                "db24e757.fe7ae8",
                "6e9b7272.8a210c",
                "f9d74898.d737a8",
                "17e69d02.3df243",
                "6cb4bb05.9d7e44",
                "271554b9.6788bc",
                "e149ef55.ef007",
                "d5011490.c41d48",
                "4432fab5.575c24",
                "d97f2fa2.dd7fe",
                "de3bee9e.32543",
                "2c096c4f.3b1e64"
            ]
        ]
    },
    {
        "id": "869410ca.a73ae",
        "type": "vacation-timer",
        "z": "13efe0fc.899dcf",
        "name": "TV Afternoon ",
        "lat": "",
        "lon": "",
        "turnOffOnDaysOff": true,
        "midnightSchedule": true,
        "onTime": "12:00",
        "randMinutes": "30",
        "offTime": "14:30",
        "randOffMinutes": "15",
        "minOnHours": "0",
        "minOnMinutes": "5",
        "maxOnHours": "0",
        "maxOnMinutes": "10",
        "stopTab": "tab-2",
        "onPayloadType": "str",
        "onPayloadVal": "turn_on",
        "onTopicVal": "media_player.livingroom_tv",
        "offPayloadType": "str",
        "offPayloadVal": "turn_off",
        "offTopicVal": "media_player.livingroom_tv",
        "suspended": true,
        "disableMax": false,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "x": 490,
        "y": 1260,
        "wires": [
            [
                "b013a554.c25048"
            ]
        ]
    },
    {
        "id": "b013a554.c25048",
        "type": "api-call-service",
        "z": "13efe0fc.899dcf",
        "name": "Turn Switches on",
        "server": "6e38e28e.ec355c",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "{{payload}}",
        "entityId": "{{topic}}",
        "data": "{}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 690,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "6abc30b9.0c806",
        "type": "change",
        "z": "13efe0fc.899dcf",
        "name": "stop",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1280,
        "wires": [
            [
                "869410ca.a73ae"
            ]
        ]
    },
    {
        "id": "72f57951.420e68",
        "type": "change",
        "z": "13efe0fc.899dcf",
        "name": "start",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "start",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1240,
        "wires": [
            [
                "869410ca.a73ae"
            ]
        ]
    },
    {
        "id": "a291c176.0e778",
        "type": "vacation-timer",
        "z": "13efe0fc.899dcf",
        "name": "TV Evening",
        "lat": "",
        "lon": "",
        "turnOffOnDaysOff": true,
        "midnightSchedule": true,
        "onTime": "18:00",
        "randMinutes": "30",
        "offTime": "21:30",
        "randOffMinutes": "15",
        "minOnHours": "0",
        "minOnMinutes": "5",
        "maxOnHours": "0",
        "maxOnMinutes": "10",
        "stopTab": "tab-2",
        "onPayloadType": "str",
        "onPayloadVal": "turn_on",
        "onTopicVal": "media_player.livingroom_tv",
        "offPayloadType": "str",
        "offPayloadVal": "turn_off",
        "offTopicVal": "media_player.livingroom_tv",
        "suspended": true,
        "disableMax": false,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "x": 490,
        "y": 1340,
        "wires": [
            [
                "8b90a2b8.5d547"
            ]
        ]
    },
    {
        "id": "8b90a2b8.5d547",
        "type": "api-call-service",
        "z": "13efe0fc.899dcf",
        "name": "Turn Switches on",
        "server": "6e38e28e.ec355c",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "{{payload}}",
        "entityId": "{{topic}}",
        "data": "{}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 690,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "a4144d1a.8660a",
        "type": "change",
        "z": "13efe0fc.899dcf",
        "name": "stop",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1360,
        "wires": [
            [
                "a291c176.0e778"
            ]
        ]
    },
    {
        "id": "7309e8b9.a71808",
        "type": "change",
        "z": "13efe0fc.899dcf",
        "name": "start",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "start",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1320,
        "wires": [
            [
                "a291c176.0e778"
            ]
        ]
    },
    {
        "id": "2466d5e7.d1d0ca",
        "type": "link in",
        "z": "13efe0fc.899dcf",
        "name": "Disarming Vacation",
        "links": [
            "26dcc044.e332"
        ],
        "x": 195,
        "y": 1360,
        "wires": [
            [
                "a4144d1a.8660a",
                "ccd03483.11c4f8",
                "85edcc09.07db8",
                "6abc30b9.0c806",
                "b7f4375a.00aa08",
                "91172fdd.71e5e",
                "cb75f4f3.0f08f8",
                "904195b8.632f78"
            ]
        ]
    },
    {
        "id": "c2443f2a.940f5",
        "type": "vacation-timer",
        "z": "13efe0fc.899dcf",
        "name": "Office Light",
        "lat": "",
        "lon": "",
        "turnOffOnDaysOff": true,
        "midnightSchedule": true,
        "onTime": "dusk",
        "randMinutes": "30",
        "offTime": "23:30",
        "randOffMinutes": "15",
        "minOnHours": "0",
        "minOnMinutes": "5",
        "maxOnHours": "0",
        "maxOnMinutes": "10",
        "stopTab": "tab-2",
        "onPayloadType": "str",
        "onPayloadVal": "turn_on",
        "onTopicVal": "switch.ihome_smartplug_e9f727",
        "offPayloadType": "str",
        "offPayloadVal": "turn_off",
        "offTopicVal": "switch.ihome_smartplug_e9f727",
        "suspended": true,
        "disableMax": false,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "x": 490,
        "y": 1420,
        "wires": [
            [
                "43ef574c.57ade8"
            ]
        ]
    },
    {
        "id": "43ef574c.57ade8",
        "type": "api-call-service",
        "z": "13efe0fc.899dcf",
        "name": "Turn Switches on",
        "server": "6e38e28e.ec355c",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "{{payload}}",
        "entityId": "{{topic}}",
        "data": "{}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 690,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "85edcc09.07db8",
        "type": "change",
        "z": "13efe0fc.899dcf",
        "name": "stop",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1440,
        "wires": [
            [
                "c2443f2a.940f5"
            ]
        ]
    },
    {
        "id": "5044b32d.3c51dc",
        "type": "change",
        "z": "13efe0fc.899dcf",
        "name": "start",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "start",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1400,
        "wires": [
            [
                "c2443f2a.940f5"
            ]
        ]
    },
    {
        "id": "77a59544.a15bac",
        "type": "vacation-timer",
        "z": "13efe0fc.899dcf",
        "name": "Livingroom Light",
        "lat": "",
        "lon": "",
        "turnOffOnDaysOff": true,
        "midnightSchedule": true,
        "onTime": "dusk",
        "randMinutes": "30",
        "offTime": "21:30",
        "randOffMinutes": "15",
        "minOnHours": "0",
        "minOnMinutes": "5",
        "maxOnHours": "0",
        "maxOnMinutes": "10",
        "stopTab": "tab-2",
        "onPayloadType": "str",
        "onPayloadVal": "turn_on",
        "onTopicVal": "switch.in_wall_outlet_current_value_2",
        "offPayloadType": "str",
        "offPayloadVal": "turn_off",
        "offTopicVal": "switch.in_wall_outlet_current_value_2",
        "suspended": true,
        "disableMax": false,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "x": 500,
        "y": 1500,
        "wires": [
            [
                "fa1aadbb.fd15c"
            ]
        ]
    },
    {
        "id": "fa1aadbb.fd15c",
        "type": "api-call-service",
        "z": "13efe0fc.899dcf",
        "name": "Turn Switches on",
        "server": "6e38e28e.ec355c",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "{{payload}}",
        "entityId": "{{topic}}",
        "data": "{}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 690,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "ccd03483.11c4f8",
        "type": "change",
        "z": "13efe0fc.899dcf",
        "name": "stop",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1520,
        "wires": [
            [
                "77a59544.a15bac"
            ]
        ]
    },
    {
        "id": "f3d6cd8a.44c8f",
        "type": "change",
        "z": "13efe0fc.899dcf",
        "name": "start",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "start",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1480,
        "wires": [
            [
                "77a59544.a15bac"
            ]
        ]
    },
    {
        "id": "ecbfd7a7.85a248",
        "type": "vacation-timer",
        "z": "13efe0fc.899dcf",
        "name": "Master Light",
        "lat": "",
        "lon": "",
        "turnOffOnDaysOff": true,
        "midnightSchedule": true,
        "onTime": "22:30",
        "randMinutes": "30",
        "offTime": "23:15",
        "randOffMinutes": "15",
        "minOnHours": "0",
        "minOnMinutes": "5",
        "maxOnHours": "0",
        "maxOnMinutes": "10",
        "stopTab": "tab-2",
        "onPayloadType": "str",
        "onPayloadVal": "turn_on",
        "onTopicVal": "switch.ihome_smartplug_e992fe",
        "offPayloadType": "str",
        "offPayloadVal": "turn_off",
        "offTopicVal": "switch.ihome_smartplug_e992fe",
        "suspended": true,
        "disableMax": false,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "x": 490,
        "y": 1580,
        "wires": [
            [
                "9329b918.ee2fb8"
            ]
        ]
    },
    {
        "id": "9329b918.ee2fb8",
        "type": "api-call-service",
        "z": "13efe0fc.899dcf",
        "name": "Turn Switches on",
        "server": "6e38e28e.ec355c",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "{{payload}}",
        "entityId": "{{topic}}",
        "data": "{}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 690,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "91172fdd.71e5e",
        "type": "change",
        "z": "13efe0fc.899dcf",
        "name": "stop",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1600,
        "wires": [
            [
                "ecbfd7a7.85a248"
            ]
        ]
    },
    {
        "id": "731dcf9c.4ff1f",
        "type": "change",
        "z": "13efe0fc.899dcf",
        "name": "start",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "start",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1560,
        "wires": [
            [
                "ecbfd7a7.85a248"
            ]
        ]
    },
    {
        "id": "e839b517.1897e8",
        "type": "vacation-timer",
        "z": "13efe0fc.899dcf",
        "name": "Bedroom Light",
        "lat": "",
        "lon": "",
        "turnOffOnDaysOff": true,
        "midnightSchedule": true,
        "onTime": "22:15",
        "randMinutes": "30",
        "offTime": "23:00",
        "randOffMinutes": "15",
        "minOnHours": "0",
        "minOnMinutes": "5",
        "maxOnHours": "0",
        "maxOnMinutes": "10",
        "stopTab": "tab-2",
        "onPayloadType": "str",
        "onPayloadVal": "turn_on",
        "onTopicVal": "light.jasco_products_43102_8a5d6efe_on_off",
        "offPayloadType": "str",
        "offPayloadVal": "turn_off",
        "offTopicVal": "light.jasco_products_43102_8a5d6efe_on_off",
        "suspended": true,
        "disableMax": false,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "x": 500,
        "y": 1660,
        "wires": [
            [
                "5a212782.b00018"
            ]
        ]
    },
    {
        "id": "5a212782.b00018",
        "type": "api-call-service",
        "z": "13efe0fc.899dcf",
        "name": "Turn Switches on",
        "server": "6e38e28e.ec355c",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "{{payload}}",
        "entityId": "{{topic}}",
        "data": "{}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 690,
        "y": 1660,
        "wires": [
            []
        ]
    },
    {
        "id": "cb75f4f3.0f08f8",
        "type": "change",
        "z": "13efe0fc.899dcf",
        "name": "stop",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1680,
        "wires": [
            [
                "e839b517.1897e8"
            ]
        ]
    },
    {
        "id": "cfb330bd.ffa37",
        "type": "change",
        "z": "13efe0fc.899dcf",
        "name": "start",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "start",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1640,
        "wires": [
            [
                "e839b517.1897e8"
            ]
        ]
    },
    {
        "id": "e7d373c6.43984",
        "type": "vacation-timer",
        "z": "13efe0fc.899dcf",
        "name": "Backyard Evening light",
        "lat": "",
        "lon": "",
        "turnOffOnDaysOff": true,
        "midnightSchedule": true,
        "onTime": "22:15",
        "randMinutes": "30",
        "offTime": "22:30",
        "randOffMinutes": "15",
        "minOnHours": "0",
        "minOnMinutes": "5",
        "maxOnHours": "0",
        "maxOnMinutes": "10",
        "stopTab": "tab-2",
        "onPayloadType": "str",
        "onPayloadVal": "turn_on",
        "onTopicVal": "group.back_outside",
        "offPayloadType": "str",
        "offPayloadVal": "turn_off",
        "offTopicVal": "group.back_outside",
        "suspended": true,
        "disableMax": false,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "x": 520,
        "y": 1740,
        "wires": [
            [
                "ac6b7b08.69ed78"
            ]
        ]
    },
    {
        "id": "ac6b7b08.69ed78",
        "type": "api-call-service",
        "z": "13efe0fc.899dcf",
        "name": "Turn Switches on",
        "server": "6e38e28e.ec355c",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "{{payload}}",
        "entityId": "{{topic}}",
        "data": "{}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 730,
        "y": 1740,
        "wires": [
            []
        ]
    },
    {
        "id": "904195b8.632f78",
        "type": "change",
        "z": "13efe0fc.899dcf",
        "name": "stop",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1760,
        "wires": [
            [
                "e7d373c6.43984"
            ]
        ]
    },
    {
        "id": "8bc5b570.52c608",
        "type": "change",
        "z": "13efe0fc.899dcf",
        "name": "start",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "start",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1720,
        "wires": [
            [
                "e7d373c6.43984"
            ]
        ]
    },
    {
        "id": "7f9568c8.a2f678",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Colleen's garage door",
        "links": [
            "71a0ed87.a6a184",
            "82fdf876.b88498"
        ],
        "x": 1355,
        "y": 120,
        "wires": []
    },
    {
        "id": "b1782e8a.9f9a",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Ed's garage door",
        "links": [
            "44fc5679.d6e4d8",
            "82fdf876.b88498"
        ],
        "x": 1355,
        "y": 200,
        "wires": []
    },
    {
        "id": "c8ccee0c.7ad13",
        "type": "api-call-service",
        "z": "13efe0fc.899dcf",
        "name": "Surveillance Station",
        "server": "3a8968da.c5f148",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "toggle",
        "entityId": "switch.ewvisualarts_home_mode",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1220,
        "y": 1680,
        "wires": [
            []
        ],
        "icon": "node-red-contrib-home-assistant-websocket/ha-fire-event.svg"
    },
    {
        "id": "62ddbc37.6fa2f4",
        "type": "comment",
        "z": "13efe0fc.899dcf",
        "name": "-------------- Switch Home Mode ------------------",
        "info": "This switches Sureillance Station's home state dependent on  group Awesome People.",
        "x": 1190,
        "y": 1640,
        "wires": []
    },
    {
        "id": "eabb54a.66b90a8",
        "type": "link in",
        "z": "13efe0fc.899dcf",
        "name": "Surveillance Station",
        "links": [
            "85f6ac0d.a828a",
            "646b87ff.32d858"
        ],
        "x": 1075,
        "y": 1680,
        "wires": [
            [
                "c8ccee0c.7ad13"
            ]
        ]
    },
    {
        "id": "6493aa12.6696f4",
        "type": "change",
        "z": "13efe0fc.899dcf",
        "name": "STOP",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "STOP",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 160,
        "wires": [
            [
                "ce96af49.8e737",
                "782f0fa4.dc908"
            ]
        ]
    },
    {
        "id": "ce96af49.8e737",
        "type": "stoptimer",
        "z": "13efe0fc.899dcf",
        "duration": "3",
        "units": "Minute",
        "payloadtype": "str",
        "payloadval": "Colleen's Garage Door is open",
        "name": "3 Min",
        "x": 1250,
        "y": 100,
        "wires": [
            [
                "7f9568c8.a2f678"
            ],
            []
        ],
        "icon": "node-red-contrib-sun-position/clock-timer-black.png"
    },
    {
        "id": "782f0fa4.dc908",
        "type": "stoptimer",
        "z": "13efe0fc.899dcf",
        "duration": "3",
        "units": "Minute",
        "payloadtype": "str",
        "payloadval": "Colleen's Garage Door is open",
        "name": "3 Min",
        "x": 1250,
        "y": 220,
        "wires": [
            [
                "b1782e8a.9f9a"
            ],
            []
        ],
        "icon": "node-red-contrib-sun-position/clock-timer-black.png"
    },
    {
        "id": "879ab7e.7827f48",
        "type": "comment",
        "z": "13efe0fc.899dcf",
        "name": "--------- Away Schedule --------",
        "info": "",
        "x": 540,
        "y": 1120,
        "wires": []
    },
    {
        "id": "20951aa2.667786",
        "type": "api-call-service",
        "z": "13efe0fc.899dcf",
        "name": "Back Yard",
        "server": "3a8968da.c5f148",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.in_wall_toggle_switch_current_value_7",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1880,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "5c75b8e9.d5c4d8",
        "type": "api-call-service",
        "z": "13efe0fc.899dcf",
        "name": "Back Yard",
        "server": "3a8968da.c5f148",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.in_wall_toggle_switch_current_value_6",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1880,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "9469fbd1.7e65f8",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Gareage Door 1",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "cover.ed_s",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_home",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 4,
        "customoutputs": [
            {
                "messageType": "default",
                "messageValue": "",
                "messageValueType": "json",
                "comparatorPropertyType": "current_state",
                "comparatorType": "is",
                "comparatorValue": "open",
                "comparatorValueDataType": "str",
                "comparatorPropertyValue": "new_state.state"
            },
            {
                "messageType": "default",
                "messageValue": "",
                "messageValueType": "json",
                "comparatorPropertyType": "current_state",
                "comparatorType": "is",
                "comparatorValue": "closed",
                "comparatorValueDataType": "str",
                "comparatorPropertyValue": "new_state.state"
            }
        ],
        "outputinitially": false,
        "state_type": "str",
        "x": 1060,
        "y": 220,
        "wires": [
            [],
            [],
            [
                "782f0fa4.dc908"
            ],
            [
                "6493aa12.6696f4"
            ]
        ]
    },
    {
        "id": "c362a617.399f58",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Garage Door 2",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "cover.colleen_s",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_home",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 4,
        "customoutputs": [
            {
                "messageType": "default",
                "messageValue": "",
                "messageValueType": "json",
                "comparatorPropertyType": "current_state",
                "comparatorType": "is",
                "comparatorValue": "open",
                "comparatorValueDataType": "str",
                "comparatorPropertyValue": "new_state.state"
            },
            {
                "messageType": "default",
                "messageValue": "",
                "messageValueType": "json",
                "comparatorPropertyType": "current_state",
                "comparatorType": "is",
                "comparatorValue": "closed",
                "comparatorValueDataType": "str",
                "comparatorPropertyValue": "new_state.state"
            }
        ],
        "outputinitially": false,
        "state_type": "str",
        "x": 1060,
        "y": 140,
        "wires": [
            [],
            [],
            [
                "ce96af49.8e737"
            ],
            [
                "6493aa12.6696f4"
            ]
        ]
    },
    {
        "id": "233958e9.4123d8",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Back Door?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.back_door_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_home",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1050,
        "y": 600,
        "wires": [
            [
                "3d6971f7.2de89e"
            ],
            []
        ]
    },
    {
        "id": "be877cbd.fb5d4",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Master Door?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.master_door_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_home",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1060,
        "y": 520,
        "wires": [
            [
                "38584140.9885ce"
            ],
            []
        ]
    },
    {
        "id": "d387309c.9f2d4",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Breezeway Door?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.breezeway_door_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_home",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1070,
        "y": 560,
        "wires": [
            [
                "567055ac.83cb9c"
            ],
            []
        ]
    },
    {
        "id": "a33f519c.db16c",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Deck Door?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.tuyatec_trhrga6p_rh3001_0e336ffe_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_home",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1050,
        "y": 640,
        "wires": [
            [
                "375fbeb3.b7da82"
            ],
            []
        ]
    },
    {
        "id": "d6d0df4c.fa3b9",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Shop Door?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.tuyatec_trhrga6p_rh3001_27336ffe_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_home",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1050,
        "y": 680,
        "wires": [
            [
                "44794c4b.68b644"
            ],
            []
        ]
    },
    {
        "id": "48c5067b.0c9fc8",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "GE Door?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.dome_door_window_sensor_access_control_window_door_is_open",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_home",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1040,
        "y": 720,
        "wires": [
            [
                "3acab694.9e311a"
            ],
            []
        ]
    },
    {
        "id": "91d492f.08a0b7",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Garage Door?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.garage_door_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_home",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1060,
        "y": 760,
        "wires": [
            [
                "40adaf6.6e3415"
            ],
            []
        ]
    },
    {
        "id": "fcd4057a.1c0178",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "MB Window?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.mb_window_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_home",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1050,
        "y": 840,
        "wires": [
            [
                "10163d99.5d8402"
            ],
            []
        ]
    },
    {
        "id": "f17f2009.7aade",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Master Window 1?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.master_window_1_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_home",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1070,
        "y": 880,
        "wires": [
            [
                "3f148c25.989954"
            ],
            []
        ]
    },
    {
        "id": "b44cdd74.1bb0f",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Master Window 2?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.master_window_2_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_home",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1070,
        "y": 920,
        "wires": [
            [
                "5b1ee0e8.dd6ed"
            ],
            []
        ]
    },
    {
        "id": "891f9f98.cf61",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Lv Window 1?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.lr_window_1_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_home",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1060,
        "y": 960,
        "wires": [
            [
                "f0426528.a03578"
            ],
            []
        ]
    },
    {
        "id": "a4858934.092518",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Lv Window 2?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.lr_window_2_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_home",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1060,
        "y": 1000,
        "wires": [
            [
                "1c75356f.37553b"
            ],
            []
        ]
    },
    {
        "id": "e12d7799.8dc228",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Lv Window 3?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.lr_window_3_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_home",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1060,
        "y": 1040,
        "wires": [
            [
                "bbc548b0.291898"
            ],
            []
        ]
    },
    {
        "id": "813e8189.ab7d1",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Front Door?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.fromt_door_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_home",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1050,
        "y": 800,
        "wires": [
            [
                "a93acb30.4c3588"
            ],
            []
        ]
    },
    {
        "id": "5513726a.ac552c",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Back door",
        "links": [
            "5558c525.d85efc",
            "82fdf876.b88498"
        ],
        "x": 2055,
        "y": 380,
        "wires": []
    },
    {
        "id": "d8722618.e70dc8",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Deck Door",
        "links": [
            "82fdf876.b88498",
            "afda8c20.4a8f1"
        ],
        "x": 2055,
        "y": 420,
        "wires": []
    },
    {
        "id": "c6792096.69eba",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Shop Door",
        "links": [
            "82fdf876.b88498",
            "8f335eeb.d3a21"
        ],
        "x": 2055,
        "y": 460,
        "wires": []
    },
    {
        "id": "55938e97.db7ac",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "GE Door",
        "links": [
            "82fdf876.b88498",
            "ddda9ffa.88e01"
        ],
        "x": 2055,
        "y": 500,
        "wires": []
    },
    {
        "id": "f025b3a.c27755",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Garage Door",
        "links": [
            "2595d8ef.d2cb98",
            "82fdf876.b88498"
        ],
        "x": 2055,
        "y": 540,
        "wires": []
    },
    {
        "id": "dac13100.c6d29",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Colleen's garage door",
        "links": [
            "71a0ed87.a6a184",
            "82fdf876.b88498"
        ],
        "x": 2055,
        "y": 200,
        "wires": []
    },
    {
        "id": "e42e6863.f6a2a8",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Ed's garage door",
        "links": [
            "44fc5679.d6e4d8",
            "82fdf876.b88498"
        ],
        "x": 2055,
        "y": 240,
        "wires": []
    },
    {
        "id": "a031613e.1c1cc",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Gareage Door 1",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "cover.ed_s",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_night",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1780,
        "y": 240,
        "wires": [
            [
                "b07e892e.a5e5f8"
            ],
            []
        ]
    },
    {
        "id": "1a2ed6bd.49cca9",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Garage Door 2",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "cover.colleen_s",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_night",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1780,
        "y": 200,
        "wires": [
            [
                "87d360f2.23979"
            ],
            []
        ]
    },
    {
        "id": "eb5848a2.a3ec08",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Back Door?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.back_door_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_night",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1770,
        "y": 380,
        "wires": [
            [
                "ac348cb9.06324"
            ],
            []
        ]
    },
    {
        "id": "2a1fd7b7.a84278",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Master Door?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.master_door_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_night",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1780,
        "y": 300,
        "wires": [
            [
                "c39a0f71.ab9d1"
            ],
            []
        ]
    },
    {
        "id": "41c33901.c7ca38",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Breezeway Door?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.breezeway_door_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_night",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1790,
        "y": 340,
        "wires": [
            [
                "325ac382.f0202c"
            ],
            []
        ]
    },
    {
        "id": "ad24198e.446168",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Deck Door?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.tuyatec_trhrga6p_rh3001_0e336ffe_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_night",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1770,
        "y": 420,
        "wires": [
            [
                "41e4cd61.070e24"
            ],
            []
        ]
    },
    {
        "id": "a174249b.857068",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Shop Door?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.tuyatec_trhrga6p_rh3001_27336ffe_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_night",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1770,
        "y": 460,
        "wires": [
            [
                "91a6e1c4.a006f"
            ],
            []
        ]
    },
    {
        "id": "59d00aab.a69364",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "GE Door?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.dome_door_window_sensor_access_control_window_door_is_open",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_night",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1760,
        "y": 500,
        "wires": [
            [
                "71b69f44.78012"
            ],
            []
        ]
    },
    {
        "id": "1e0bcdce.4133a2",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Garage Door?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.garage_door_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_night",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1780,
        "y": 540,
        "wires": [
            [
                "ae58349c.e21bd8"
            ],
            []
        ]
    },
    {
        "id": "5abd503b.72ac1",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "MB Window?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.mb_window_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_night",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1770,
        "y": 620,
        "wires": [
            [
                "2f7d968d.2b58ba"
            ],
            []
        ]
    },
    {
        "id": "5193d02a.f94b5",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Master Window 1?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.master_window_1_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_night",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1790,
        "y": 660,
        "wires": [
            [
                "778597ea.221348"
            ],
            []
        ]
    },
    {
        "id": "270ec059.197cd",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Master Window 2?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.master_window_2_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_night",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1790,
        "y": 700,
        "wires": [
            [
                "8e98f9ad.331058"
            ],
            []
        ]
    },
    {
        "id": "6fdc5433.1321ac",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Lv Window 1?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.lr_window_1_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_night",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1780,
        "y": 740,
        "wires": [
            [
                "747eaf1b.52fd3"
            ],
            []
        ]
    },
    {
        "id": "6c7e4649.ed6e58",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Lv Window 2?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.lr_window_2_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_night",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1780,
        "y": 780,
        "wires": [
            [
                "4bfc2162.e8195"
            ],
            []
        ]
    },
    {
        "id": "2d0f7e5e.2dcc52",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Lv Window 3?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.lr_window_3_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_night",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1780,
        "y": 820,
        "wires": [
            [
                "30d1881f.7561d8"
            ],
            []
        ]
    },
    {
        "id": "d0040523.1a36f8",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Front Door?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.fromt_door_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_night",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1770,
        "y": 580,
        "wires": [
            [
                "10a4239f.852b0c"
            ],
            []
        ]
    },
    {
        "id": "ba84468f.640238",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Back door",
        "links": [
            "5558c525.d85efc",
            "82fdf876.b88498"
        ],
        "x": 635,
        "y": 600,
        "wires": []
    },
    {
        "id": "6c1ad00d.c932c",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Deck Door",
        "links": [
            "82fdf876.b88498",
            "afda8c20.4a8f1"
        ],
        "x": 635,
        "y": 640,
        "wires": []
    },
    {
        "id": "30adf7cd.356638",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Shop Door",
        "links": [
            "82fdf876.b88498",
            "8f335eeb.d3a21"
        ],
        "x": 635,
        "y": 680,
        "wires": []
    },
    {
        "id": "5ea5fe04.c7492",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "GE Door",
        "links": [
            "82fdf876.b88498",
            "ddda9ffa.88e01"
        ],
        "x": 635,
        "y": 720,
        "wires": []
    },
    {
        "id": "597bca6f.8e6d94",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Garage Door",
        "links": [
            "2595d8ef.d2cb98",
            "82fdf876.b88498"
        ],
        "x": 635,
        "y": 760,
        "wires": []
    },
    {
        "id": "f2c9391.1eaf9c8",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Intruder",
        "links": [
            "82fdf876.b88498",
            "e0eea9a6.68ff98"
        ],
        "x": 535,
        "y": 380,
        "wires": []
    },
    {
        "id": "1cc74ffd.8bc79",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Colleen's garage door",
        "links": [
            "71a0ed87.a6a184",
            "82fdf876.b88498"
        ],
        "x": 655,
        "y": 120,
        "wires": []
    },
    {
        "id": "5c8d729f.70c08c",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Ed's garage door",
        "links": [
            "6bd47e52.6c8df",
            "82fdf876.b88498"
        ],
        "x": 655,
        "y": 200,
        "wires": []
    },
    {
        "id": "f20ac764.8fa998",
        "type": "change",
        "z": "13efe0fc.899dcf",
        "name": "STOP",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "STOP",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 160,
        "wires": [
            [
                "a79c2612.8fecf8",
                "29d0b4f9.632e1c"
            ]
        ]
    },
    {
        "id": "a79c2612.8fecf8",
        "type": "stoptimer",
        "z": "13efe0fc.899dcf",
        "duration": "3",
        "units": "Minute",
        "payloadtype": "str",
        "payloadval": "Colleen's Garage Door is open",
        "name": "3 Min",
        "x": 550,
        "y": 100,
        "wires": [
            [
                "1cc74ffd.8bc79"
            ],
            []
        ],
        "icon": "node-red-contrib-sun-position/clock-timer-black.png"
    },
    {
        "id": "29d0b4f9.632e1c",
        "type": "stoptimer",
        "z": "13efe0fc.899dcf",
        "duration": "3",
        "units": "Minute",
        "payloadtype": "str",
        "payloadval": "Colleen's Garage Door is open",
        "name": "3 Min",
        "x": 550,
        "y": 220,
        "wires": [
            [
                "5c8d729f.70c08c"
            ],
            []
        ],
        "icon": "node-red-contrib-sun-position/clock-timer-black.png"
    },
    {
        "id": "bf9890c.5ec007",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Gareage Door 1",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "cover.ed_s",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_away",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 4,
        "customoutputs": [
            {
                "messageType": "default",
                "messageValue": "",
                "messageValueType": "json",
                "comparatorPropertyType": "current_state",
                "comparatorType": "is",
                "comparatorValue": "open",
                "comparatorValueDataType": "str",
                "comparatorPropertyValue": "new_state.state"
            },
            {
                "messageType": "default",
                "messageValue": "",
                "messageValueType": "json",
                "comparatorPropertyType": "current_state",
                "comparatorType": "is",
                "comparatorValue": "closed",
                "comparatorValueDataType": "str",
                "comparatorPropertyValue": "new_state.state"
            }
        ],
        "outputinitially": false,
        "state_type": "str",
        "x": 360,
        "y": 220,
        "wires": [
            [],
            [],
            [
                "29d0b4f9.632e1c"
            ],
            [
                "f20ac764.8fa998"
            ]
        ]
    },
    {
        "id": "a129c706.60adf8",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Garage Door 2",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "cover.colleen_s",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_away",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 4,
        "customoutputs": [
            {
                "messageType": "default",
                "messageValue": "",
                "messageValueType": "json",
                "comparatorPropertyType": "current_state",
                "comparatorType": "is",
                "comparatorValue": "open",
                "comparatorValueDataType": "str",
                "comparatorPropertyValue": "new_state.state"
            },
            {
                "messageType": "default",
                "messageValue": "",
                "messageValueType": "json",
                "comparatorPropertyType": "current_state",
                "comparatorType": "is",
                "comparatorValue": "closed",
                "comparatorValueDataType": "str",
                "comparatorPropertyValue": "new_state.state"
            }
        ],
        "outputinitially": false,
        "state_type": "str",
        "x": 360,
        "y": 140,
        "wires": [
            [],
            [],
            [
                "a79c2612.8fecf8"
            ],
            [
                "f20ac764.8fa998"
            ]
        ]
    },
    {
        "id": "4e9107c9.33a7f8",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Back Door?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.back_door_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_away",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 350,
        "y": 600,
        "wires": [
            [
                "1f6aa365.965d6d"
            ],
            []
        ]
    },
    {
        "id": "8f1be0c1.b793a",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Master Door?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.master_door_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_away",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 360,
        "y": 520,
        "wires": [
            [
                "650b592d.c71d88"
            ],
            []
        ]
    },
    {
        "id": "70c70b63.2a5204",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Breezeway Door?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.breezeway_door_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_away",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 370,
        "y": 560,
        "wires": [
            [
                "d27b0951.f6e058"
            ],
            []
        ]
    },
    {
        "id": "f31dba19.8f3ed8",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Deck Door?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.tuyatec_trhrga6p_rh3001_0e336ffe_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_away",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 350,
        "y": 640,
        "wires": [
            [
                "353d2f05.650cb"
            ],
            []
        ]
    },
    {
        "id": "41214f86.b65d",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Shop Door?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.tuyatec_trhrga6p_rh3001_27336ffe_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_away",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 350,
        "y": 680,
        "wires": [
            [
                "2d0e8795.649648"
            ],
            []
        ]
    },
    {
        "id": "fd8bf09f.712c2",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "GE Door?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.dome_door_window_sensor_access_control_window_door_is_open",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_away",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 340,
        "y": 720,
        "wires": [
            [
                "3ed7a24e.8935ee"
            ],
            []
        ]
    },
    {
        "id": "8d43e064.44be4",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Garage Door?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.garage_door_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_away",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 360,
        "y": 760,
        "wires": [
            [
                "3509824e.6c535e"
            ],
            []
        ]
    },
    {
        "id": "db24e757.fe7ae8",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "MB Window?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.mb_window_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_away",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 350,
        "y": 840,
        "wires": [
            [
                "b033620d.166f7"
            ],
            []
        ]
    },
    {
        "id": "6e9b7272.8a210c",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Master Window 1?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.master_window_1_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_away",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 370,
        "y": 880,
        "wires": [
            [
                "5f5a35e0.a7ebdc"
            ],
            []
        ]
    },
    {
        "id": "f9d74898.d737a8",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Master Window 2?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.master_window_2_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_away",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 370,
        "y": 920,
        "wires": [
            [
                "56384773.4c9628"
            ],
            []
        ]
    },
    {
        "id": "17e69d02.3df243",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Lv Window 1?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.lr_window_1_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_away",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 360,
        "y": 960,
        "wires": [
            [
                "bd9b776a.346738"
            ],
            []
        ]
    },
    {
        "id": "6cb4bb05.9d7e44",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Lv Window 2?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.lr_window_2_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_away",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 360,
        "y": 1000,
        "wires": [
            [
                "ec09f40f.6959d8"
            ],
            []
        ]
    },
    {
        "id": "271554b9.6788bc",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Lv Window 3?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.lr_window_3_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_away",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 360,
        "y": 1040,
        "wires": [
            [
                "1f94c09c.ed414f"
            ],
            []
        ]
    },
    {
        "id": "e149ef55.ef007",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Front Door?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.fromt_door_ias_zone",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_away",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 350,
        "y": 800,
        "wires": [
            [
                "c564459d.af5ca8"
            ],
            []
        ]
    },
    {
        "id": "3d6971f7.2de89e",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1240,
        "y": 600,
        "wires": [
            [
                "799fd105.336eb"
            ]
        ]
    },
    {
        "id": "10163d99.5d8402",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1240,
        "y": 840,
        "wires": [
            [
                "12c41d50.3620d3"
            ]
        ]
    },
    {
        "id": "3f148c25.989954",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1240,
        "y": 880,
        "wires": [
            [
                "7dd5d6f7.7b7198"
            ]
        ]
    },
    {
        "id": "5b1ee0e8.dd6ed",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1240,
        "y": 920,
        "wires": [
            [
                "c27a893.4701c78"
            ]
        ]
    },
    {
        "id": "f0426528.a03578",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1240,
        "y": 960,
        "wires": [
            [
                "d40e22d9.407c5"
            ]
        ]
    },
    {
        "id": "1c75356f.37553b",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1240,
        "y": 1000,
        "wires": [
            [
                "270a6692.96832a"
            ]
        ]
    },
    {
        "id": "bbc548b0.291898",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1240,
        "y": 1040,
        "wires": [
            [
                "a89270b9.9d938"
            ]
        ]
    },
    {
        "id": "38584140.9885ce",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1240,
        "y": 520,
        "wires": [
            [
                "dc747281.418ec"
            ]
        ]
    },
    {
        "id": "567055ac.83cb9c",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1240,
        "y": 560,
        "wires": [
            [
                "689e7d35.f06f64"
            ]
        ]
    },
    {
        "id": "375fbeb3.b7da82",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1240,
        "y": 640,
        "wires": [
            [
                "8bf1e918.d3cb28"
            ]
        ]
    },
    {
        "id": "44794c4b.68b644",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1240,
        "y": 680,
        "wires": [
            [
                "78fe9955.70a7e8"
            ]
        ]
    },
    {
        "id": "3acab694.9e311a",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1240,
        "y": 720,
        "wires": [
            [
                "ca45e272.cb916"
            ]
        ]
    },
    {
        "id": "40adaf6.6e3415",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1240,
        "y": 760,
        "wires": [
            [
                "efa1f4ba.460be8"
            ]
        ]
    },
    {
        "id": "a93acb30.4c3588",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1240,
        "y": 800,
        "wires": [
            [
                "e812aee4.de5e7"
            ]
        ]
    },
    {
        "id": "1f6aa365.965d6d",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 600,
        "wires": [
            [
                "ba84468f.640238"
            ]
        ]
    },
    {
        "id": "b033620d.166f7",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 840,
        "wires": [
            [
                "12244d3.27c41b3"
            ]
        ]
    },
    {
        "id": "5f5a35e0.a7ebdc",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 880,
        "wires": [
            [
                "ff07e29.cadcb2"
            ]
        ]
    },
    {
        "id": "56384773.4c9628",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 920,
        "wires": [
            [
                "535f4472.649bcc"
            ]
        ]
    },
    {
        "id": "bd9b776a.346738",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 960,
        "wires": [
            [
                "3f13aca1.ee31a4"
            ]
        ]
    },
    {
        "id": "ec09f40f.6959d8",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 1000,
        "wires": [
            [
                "f9ecbf77.bb3c1"
            ]
        ]
    },
    {
        "id": "1f94c09c.ed414f",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 1040,
        "wires": [
            [
                "cea657a6.a83a18"
            ]
        ]
    },
    {
        "id": "650b592d.c71d88",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 520,
        "wires": [
            [
                "c0bf4881.f47d38"
            ]
        ]
    },
    {
        "id": "d27b0951.f6e058",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 560,
        "wires": [
            [
                "5c4475d2.9b1efc"
            ]
        ]
    },
    {
        "id": "353d2f05.650cb",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 640,
        "wires": [
            [
                "6c1ad00d.c932c"
            ]
        ]
    },
    {
        "id": "2d0e8795.649648",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 680,
        "wires": [
            [
                "30adf7cd.356638"
            ]
        ]
    },
    {
        "id": "3ed7a24e.8935ee",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 720,
        "wires": [
            [
                "5ea5fe04.c7492"
            ]
        ]
    },
    {
        "id": "3509824e.6c535e",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 760,
        "wires": [
            [
                "597bca6f.8e6d94"
            ]
        ]
    },
    {
        "id": "c564459d.af5ca8",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 540,
        "y": 800,
        "wires": [
            [
                "ebad132c.c0ecf"
            ]
        ]
    },
    {
        "id": "ac348cb9.06324",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1960,
        "y": 380,
        "wires": [
            [
                "5513726a.ac552c"
            ]
        ]
    },
    {
        "id": "2f7d968d.2b58ba",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1960,
        "y": 620,
        "wires": [
            [
                "9590836.7557a8"
            ]
        ]
    },
    {
        "id": "778597ea.221348",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1960,
        "y": 660,
        "wires": [
            [
                "16515ac9.d344d5"
            ]
        ]
    },
    {
        "id": "8e98f9ad.331058",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1960,
        "y": 700,
        "wires": [
            [
                "71dcc85d.d63938"
            ]
        ]
    },
    {
        "id": "747eaf1b.52fd3",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1960,
        "y": 740,
        "wires": [
            [
                "963828fa.b56e48"
            ]
        ]
    },
    {
        "id": "4bfc2162.e8195",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1960,
        "y": 780,
        "wires": [
            [
                "3a974fc9.a95b5"
            ]
        ]
    },
    {
        "id": "30d1881f.7561d8",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1960,
        "y": 820,
        "wires": [
            [
                "f80c333c.7841f"
            ]
        ]
    },
    {
        "id": "c39a0f71.ab9d1",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1960,
        "y": 300,
        "wires": [
            [
                "b4427151.5e479"
            ]
        ]
    },
    {
        "id": "325ac382.f0202c",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1960,
        "y": 340,
        "wires": [
            [
                "dc21e331.917e5"
            ]
        ]
    },
    {
        "id": "41e4cd61.070e24",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1960,
        "y": 420,
        "wires": [
            [
                "d8722618.e70dc8"
            ]
        ]
    },
    {
        "id": "91a6e1c4.a006f",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1960,
        "y": 460,
        "wires": [
            [
                "c6792096.69eba"
            ]
        ]
    },
    {
        "id": "71b69f44.78012",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1960,
        "y": 500,
        "wires": [
            [
                "55938e97.db7ac"
            ]
        ]
    },
    {
        "id": "ae58349c.e21bd8",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1960,
        "y": 540,
        "wires": [
            [
                "f025b3a.c27755"
            ]
        ]
    },
    {
        "id": "10a4239f.852b0c",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1960,
        "y": 580,
        "wires": [
            [
                "87979708.c8bea8"
            ]
        ]
    },
    {
        "id": "57f7ec82.a731e4",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Home Armed",
        "links": [
            "6bd47e52.6c8df"
        ],
        "x": 995,
        "y": 1080,
        "wires": []
    },
    {
        "id": "8463b5dd.32af98",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Away Armed",
        "links": [
            "6bd47e52.6c8df"
        ],
        "x": 295,
        "y": 1080,
        "wires": []
    },
    {
        "id": "be0336db.700998",
        "type": "change",
        "z": "13efe0fc.899dcf",
        "name": "Chg msg",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "armed_night",
                "fromt": "str",
                "to": "Home armed for the night",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1760,
        "y": 880,
        "wires": [
            [
                "ea79dd36.da23d"
            ]
        ]
    },
    {
        "id": "b307f113.1bd62",
        "type": "api-call-service",
        "z": "13efe0fc.899dcf",
        "name": "Siren on!",
        "server": "3a8968da.c5f148",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.nodeid_20_switch",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": true,
        "x": 1720,
        "y": 1640,
        "wires": [
            [
                "f4440ff2.8d591"
            ]
        ]
    },
    {
        "id": "f4440ff2.8d591",
        "type": "api-call-service",
        "z": "13efe0fc.899dcf",
        "name": "Interior Lights",
        "server": "3a8968da.c5f148",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "group.interior_lights",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1900,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "5f806232.27fe2c",
        "type": "api-call-service",
        "z": "13efe0fc.899dcf",
        "name": "Siren off",
        "server": "3a8968da.c5f148",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.nodeid_20_switch",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": true,
        "x": 1720,
        "y": 1680,
        "wires": [
            [
                "a086c816.e55978"
            ]
        ]
    },
    {
        "id": "a086c816.e55978",
        "type": "api-call-service",
        "z": "13efe0fc.899dcf",
        "name": "Interior Lights",
        "server": "3a8968da.c5f148",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "group.interior_lights",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1900,
        "y": 1680,
        "wires": [
            []
        ]
    },
    {
        "id": "87d360f2.23979",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "opening",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1960,
        "y": 200,
        "wires": [
            [
                "dac13100.c6d29"
            ]
        ]
    },
    {
        "id": "b07e892e.a5e5f8",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "On msg",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "opening",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1960,
        "y": 240,
        "wires": [
            [
                "e42e6863.f6a2a8"
            ]
        ]
    },
    {
        "id": "8b6b2d7a.02538",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "Arriving or leaving",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "home",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "not_home",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1230,
        "y": 1800,
        "wires": [
            [
                "986f60e9.dafb5"
            ],
            [
                "67bd8eb9.e8b0f"
            ]
        ]
    },
    {
        "id": "67bd8eb9.e8b0f",
        "type": "api-call-service",
        "z": "13efe0fc.899dcf",
        "name": "Arm Alexa",
        "server": "3a8968da.c5f148",
        "version": 1,
        "debugenabled": false,
        "service_domain": "alarm_control_panel",
        "service": "alarm_arm_away",
        "entityId": "alarm_control_panel.alexa_guard_90357",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1430,
        "y": 1820,
        "wires": [
            []
        ],
        "icon": "node-red-contrib-cast/home.svg"
    },
    {
        "id": "986f60e9.dafb5",
        "type": "api-call-service",
        "z": "13efe0fc.899dcf",
        "name": "Disarm Alexa",
        "server": "3a8968da.c5f148",
        "version": 1,
        "debugenabled": false,
        "service_domain": "alarm_control_panel",
        "service": "alarm_disarm",
        "entityId": "alarm_control_panel.alexa_guard_90357",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1430,
        "y": 1780,
        "wires": [
            []
        ],
        "icon": "node-red-contrib-cast/home.svg"
    },
    {
        "id": "de2c9844.1de718",
        "type": "change",
        "z": "13efe0fc.899dcf",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "disarmed",
                "fromt": "str",
                "to": "home",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "armed_home",
                "fromt": "str",
                "to": "not_home",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "armed_night",
                "fromt": "str",
                "to": "not_home",
                "tot": "str"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "armed_away",
                "fromt": "str",
                "to": "not_home",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 1800,
        "wires": [
            [
                "8b6b2d7a.02538"
            ]
        ]
    },
    {
        "id": "c2eb5b09.8e1608",
        "type": "link in",
        "z": "13efe0fc.899dcf",
        "name": "Alexa Armed",
        "links": [
            "4477ee8c.f3c16",
            "da839d6f.4ca06",
            "40ae2bd2.e67dd4",
            "26dcc044.e332"
        ],
        "x": 895,
        "y": 1800,
        "wires": [
            [
                "de2c9844.1de718"
            ]
        ]
    },
    {
        "id": "aa19296e.13afb8",
        "type": "comment",
        "z": "13efe0fc.899dcf",
        "name": "------------------ Alexa Armed/Disarmed ------------------------",
        "info": "",
        "x": 1200,
        "y": 1740,
        "wires": []
    },
    {
        "id": "4342750a.fba83c",
        "type": "link in",
        "z": "13efe0fc.899dcf",
        "name": "Arm Home",
        "links": [
            "dd6ea963.cf6248"
        ],
        "x": 995,
        "y": 1440,
        "wires": [
            [
                "2730d195.acabce"
            ]
        ]
    },
    {
        "id": "9787fb71.6c1fc8",
        "type": "api-call-service",
        "z": "13efe0fc.899dcf",
        "name": "Armed",
        "server": "3a8968da.c5f148",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_on",
        "entityId": "input_boolean.alarm_home ",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1370,
        "y": 1440,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-warning"
    },
    {
        "id": "a562f2e3.a8cac",
        "type": "api-call-service",
        "z": "13efe0fc.899dcf",
        "name": "Disarmed",
        "server": "3a8968da.c5f148",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_on",
        "entityId": "input_boolean.disarmed",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1380,
        "y": 1480,
        "wires": [
            []
        ],
        "icon": "font-awesome/fa-warning"
    },
    {
        "id": "d4cfb9cc.808248",
        "type": "switch",
        "z": "13efe0fc.899dcf",
        "name": "Home?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1220,
        "y": 1460,
        "wires": [
            [
                "9787fb71.6c1fc8"
            ],
            [
                "a562f2e3.a8cac"
            ]
        ],
        "outputLabels": [
            "Armed",
            "disarmed"
        ]
    },
    {
        "id": "745a080c.7a9d78",
        "type": "comment",
        "z": "13efe0fc.899dcf",
        "name": "---------- Are We Home? ---------",
        "info": "",
        "x": 1190,
        "y": 1400,
        "wires": []
    },
    {
        "id": "82e3d645.698bc8",
        "type": "comment",
        "z": "13efe0fc.899dcf",
        "name": "-------------- Alarm Triggered -------------",
        "info": "",
        "x": 1190,
        "y": 1540,
        "wires": []
    },
    {
        "id": "6fba9f32.96b96",
        "type": "poll-state",
        "z": "13efe0fc.899dcf",
        "name": "Disarmed?",
        "server": "3a8968da.c5f148",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "updateinterval": "1",
        "updateIntervalUnits": "minutes",
        "outputinitially": false,
        "outputonchanged": false,
        "entity_id": "alarm_control_panel.alarmo",
        "state_type": "str",
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "x": 960,
        "y": 1480,
        "wires": [
            [
                "2730d195.acabce"
            ]
        ]
    },
    {
        "id": "2730d195.acabce",
        "type": "traffic",
        "z": "13efe0fc.899dcf",
        "name": "Stop",
        "property_allow": "payload",
        "filter_allow": "disarmed",
        "ignore_case_allow": false,
        "negate_allow": false,
        "send_allow": false,
        "property_stop": "payload",
        "filter_stop": "armed_away",
        "ignore_case_stop": false,
        "negate_stop": false,
        "send_stop": false,
        "default_start": false,
        "differ": false,
        "x": 1090,
        "y": 1460,
        "wires": [
            [
                "d4cfb9cc.808248"
            ]
        ]
    },
    {
        "id": "4b5f1e08.5f8ab",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Garage presence?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.garage_protect_3",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_home",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1070,
        "y": 380,
        "wires": [
            [
                "4fcf4a6b.28cf14"
            ],
            []
        ]
    },
    {
        "id": "c11e2d5b.228ba",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Kitchen presence?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.kitchen_protect_3",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_home",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1070,
        "y": 420,
        "wires": [
            [
                "4fcf4a6b.28cf14"
            ],
            []
        ]
    },
    {
        "id": "cf13c08a.d659c",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Livingroom presence?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.living_room_protect_3",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_home",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1080,
        "y": 460,
        "wires": [
            [
                "4fcf4a6b.28cf14"
            ],
            []
        ]
    },
    {
        "id": "cf244982.842278",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Master presence?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.master_bedroom_protect_3",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_home",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1070,
        "y": 340,
        "wires": [
            [
                "4fcf4a6b.28cf14"
            ],
            []
        ]
    },
    {
        "id": "c7001d8e.a8293",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Office presence?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.office_protect_3",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_home",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 1070,
        "y": 300,
        "wires": [
            [
                "4fcf4a6b.28cf14"
            ],
            []
        ]
    },
    {
        "id": "d97f2fa2.dd7fe",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Garage presence?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.garage_protect_3",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_away",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 370,
        "y": 380,
        "wires": [
            [
                "f2c9391.1eaf9c8"
            ],
            []
        ]
    },
    {
        "id": "4432fab5.575c24",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Kitchen presence?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.kitchen_protect_3",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_away",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 370,
        "y": 420,
        "wires": [
            [
                "f2c9391.1eaf9c8"
            ],
            []
        ]
    },
    {
        "id": "d5011490.c41d48",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Livingroom presence?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.living_room_protect_3",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_away",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 380,
        "y": 460,
        "wires": [
            [
                "f2c9391.1eaf9c8"
            ],
            []
        ]
    },
    {
        "id": "de3bee9e.32543",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Master presence?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.master_bedroom_protect_3",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_away",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 370,
        "y": 340,
        "wires": [
            [
                "f2c9391.1eaf9c8"
            ],
            []
        ]
    },
    {
        "id": "2c096c4f.3b1e64",
        "type": "trigger-state",
        "z": "13efe0fc.899dcf",
        "name": "Office presence?",
        "server": "3a8968da.c5f148",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "binary_sensor.office_protect_3",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "targetType": "entity_id",
                "targetValue": "alarm_control_panel.alarmo",
                "propertyType": "current_state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_away",
                "propertyValue": "new_state.state"
            }
        ],
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 370,
        "y": 300,
        "wires": [
            [
                "f2c9391.1eaf9c8"
            ],
            []
        ]
    },
    {
        "id": "689e7d35.f06f64",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Breezeway",
        "links": [
            "4e2c811e.de2f5",
            "82fdf876.b88498"
        ],
        "x": 1335,
        "y": 560,
        "wires": []
    },
    {
        "id": "dc21e331.917e5",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Breezeway",
        "links": [
            "4e2c811e.de2f5",
            "82fdf876.b88498"
        ],
        "x": 2055,
        "y": 340,
        "wires": []
    },
    {
        "id": "5c4475d2.9b1efc",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Breezeway",
        "links": [
            "4e2c811e.de2f5",
            "82fdf876.b88498"
        ],
        "x": 635,
        "y": 560,
        "wires": []
    },
    {
        "id": "c0bf4881.f47d38",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Master D",
        "links": [
            "82fdf876.b88498",
            "8f75b576.61d6c8"
        ],
        "x": 635,
        "y": 520,
        "wires": []
    },
    {
        "id": "dc747281.418ec",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Master D",
        "links": [
            "82fdf876.b88498",
            "8f75b576.61d6c8"
        ],
        "x": 1335,
        "y": 520,
        "wires": []
    },
    {
        "id": "b4427151.5e479",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Master D",
        "links": [
            "82fdf876.b88498",
            "8f75b576.61d6c8"
        ],
        "x": 2055,
        "y": 300,
        "wires": []
    },
    {
        "id": "12244d3.27c41b3",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "MB Window",
        "links": [
            "82fdf876.b88498",
            "e6d3d250.2f19d"
        ],
        "x": 635,
        "y": 840,
        "wires": []
    },
    {
        "id": "12c41d50.3620d3",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "MB Window",
        "links": [
            "82fdf876.b88498",
            "e6d3d250.2f19d"
        ],
        "x": 1335,
        "y": 840,
        "wires": []
    },
    {
        "id": "9590836.7557a8",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "MB Window",
        "links": [
            "82fdf876.b88498",
            "e6d3d250.2f19d"
        ],
        "x": 2055,
        "y": 620,
        "wires": []
    },
    {
        "id": "ff07e29.cadcb2",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "M Window 1",
        "links": [
            "82fdf876.b88498",
            "85637d84.e1c92"
        ],
        "x": 635,
        "y": 880,
        "wires": []
    },
    {
        "id": "7dd5d6f7.7b7198",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "M Window 1",
        "links": [
            "82fdf876.b88498",
            "85637d84.e1c92"
        ],
        "x": 1335,
        "y": 880,
        "wires": []
    },
    {
        "id": "16515ac9.d344d5",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "M Window 1",
        "links": [
            "82fdf876.b88498",
            "85637d84.e1c92"
        ],
        "x": 2055,
        "y": 660,
        "wires": []
    },
    {
        "id": "535f4472.649bcc",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "M Window 2",
        "links": [
            "7eb5b9d5.0475f8",
            "82fdf876.b88498"
        ],
        "x": 635,
        "y": 920,
        "wires": []
    },
    {
        "id": "c27a893.4701c78",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "M Window 2",
        "links": [
            "7eb5b9d5.0475f8",
            "82fdf876.b88498"
        ],
        "x": 1335,
        "y": 920,
        "wires": []
    },
    {
        "id": "71dcc85d.d63938",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "M Window 2",
        "links": [
            "7eb5b9d5.0475f8",
            "82fdf876.b88498"
        ],
        "x": 2055,
        "y": 700,
        "wires": []
    },
    {
        "id": "ebad132c.c0ecf",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Frt Door",
        "links": [
            "23bfc12e.5686be",
            "82fdf876.b88498"
        ],
        "x": 635,
        "y": 800,
        "wires": []
    },
    {
        "id": "e812aee4.de5e7",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Frt Door",
        "links": [
            "23bfc12e.5686be",
            "82fdf876.b88498"
        ],
        "x": 1335,
        "y": 800,
        "wires": []
    },
    {
        "id": "87979708.c8bea8",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Frt Door",
        "links": [
            "23bfc12e.5686be",
            "82fdf876.b88498"
        ],
        "x": 2055,
        "y": 580,
        "wires": []
    },
    {
        "id": "3f13aca1.ee31a4",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Lv 1",
        "links": [
            "318d666e.97806a",
            "82fdf876.b88498"
        ],
        "x": 635,
        "y": 960,
        "wires": []
    },
    {
        "id": "d40e22d9.407c5",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Lv 1",
        "links": [
            "318d666e.97806a",
            "82fdf876.b88498"
        ],
        "x": 1335,
        "y": 960,
        "wires": []
    },
    {
        "id": "963828fa.b56e48",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Lv 1",
        "links": [
            "318d666e.97806a",
            "82fdf876.b88498"
        ],
        "x": 2055,
        "y": 740,
        "wires": []
    },
    {
        "id": "f9ecbf77.bb3c1",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Lv 2",
        "links": [
            "82fdf876.b88498",
            "89d0d760.862ed8"
        ],
        "x": 635,
        "y": 1000,
        "wires": []
    },
    {
        "id": "270a6692.96832a",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Lv 2",
        "links": [
            "82fdf876.b88498",
            "89d0d760.862ed8"
        ],
        "x": 1335,
        "y": 1000,
        "wires": []
    },
    {
        "id": "3a974fc9.a95b5",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Lv 2",
        "links": [
            "82fdf876.b88498",
            "89d0d760.862ed8"
        ],
        "x": 2055,
        "y": 780,
        "wires": []
    },
    {
        "id": "cea657a6.a83a18",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Lv 3",
        "links": [
            "82fdf876.b88498",
            "c4c6ecb3.21855"
        ],
        "x": 635,
        "y": 1040,
        "wires": []
    },
    {
        "id": "a89270b9.9d938",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Lv 3",
        "links": [
            "82fdf876.b88498",
            "c4c6ecb3.21855"
        ],
        "x": 1335,
        "y": 1040,
        "wires": []
    },
    {
        "id": "f80c333c.7841f",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Lv 3",
        "links": [
            "82fdf876.b88498",
            "c4c6ecb3.21855"
        ],
        "x": 2055,
        "y": 820,
        "wires": []
    },
    {
        "id": "952cbbd3.90f688",
        "type": "link out",
        "z": "13efe0fc.899dcf",
        "name": "Alarmed",
        "links": [
            "5b436caa.1b9b14"
        ],
        "x": 1295,
        "y": 1580,
        "wires": []
    },
    {
        "id": "5b436caa.1b9b14",
        "type": "link in",
        "z": "13efe0fc.899dcf",
        "name": "Alarmed",
        "links": [
            "952cbbd3.90f688"
        ],
        "x": 1075,
        "y": 1300,
        "wires": [
            [
                "214ab6fe.dea2fa"
            ]
        ]
    },
    {
        "id": "312b35ff.57e00a",
        "type": "change",
        "z": "13efe0fc.899dcf",
        "name": "Triggered",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "on",
                "fromt": "str",
                "to": "triggered",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 1580,
        "wires": [
            [
                "952cbbd3.90f688"
            ]
        ]
    },
    {
        "id": "3a8968da.c5f148",
        "type": "server",
        "name": "Home Assistant",
        "legacy": false,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": false
    },
    {
        "id": "6e38e28e.ec355c",
        "type": "server",
        "name": "Home Assistant",
        "legacy": false,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true
    }
]